html,body {
    height: 100%;
    min-width: 680px;

}

#__next {
    height: 100%;
}

.all {
    height: 100%;
    background-image: url(background.jpg);
    background-size: cover;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    color: white;
    flex-direction: column;
}

h1 {
    font-weight: bolder;
}

.body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 50%;
    min-height: 434px;
    /* border: white 5px solid; */
    
}
@import url(//db.onlinewebfonts.com/c/9f94dc20bb2a09c15241d3a880b7ad01?family=Menlo);
.message_body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 20%;
    /* border: white 5px solid; */
    white-space: pre-line;
    
}
.message {
    margin: 10px;
    height: 7rem;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0rem;
    color: white;
    font-size: large;
    white-space: pre;
    width: 650px;
    
    font-family: 'Menlo', monospace;
    vertical-align:top;
    /* background-color: rgba(255, 166, 0, 0.3); */
    /* width: 250px; */
}

.map_message {
    margin: 10px;
    height: 3rem;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 1rem;
    color: white;
    font-size: large;
    white-space: pre-line;
    font-family: 'Menlo', monospace;
    padding: 0rem;
    /* background-color: rgba(255, 166, 0, 0.3); */
    /* width: 250px; */
}

.right {
    width: 25rem;
    height: 100%;
    /* border: white 5px solid; */
    min-width: 22rem;
}

.left {
    width: 280px;
    /* border: white 5px solid; */
    height: 100%;
    min-width: 280px;
}

.table {
    margin: 10px;
    background-color: rgba(255, 166, 0, 0.3);
    

}

.rank {
    color: white;
    font-size: 24px;
}

.status {
    margin: 10px;
    color: white;
}

.menu {
    margin: 10px;
    height: 2rem;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    border: white 5px solid;
    color: white;
    font-size: large;
    background-color: rgba(255, 166, 0, 0.3);
    width: 250px;
    text-decoration: none;
}
.menu:hover {
    cursor: pointer;
    border-color: #D0D0D0;
    text-decoration: none;
}

.menu:active {
    background-color: rgba(175, 114, 0, 0.3);
}
.info {
    margin: 10px;
    height: 5rem;
    width: 20rem;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    border: white 5px solid;
    background-color: rgba(255, 166, 0, 0.3);
}

.displayText {
    margin: 10px;
    height: 20.5rem;
    width: 23rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; 
    padding-top: 1rem;

    /* border-radius: 10px; */
    /* border: white 5px solid; */
    color: black;
    font-size: 16px;
    line-height: 1.3rem;
    letter-spacing:0.55rem;
    white-space: pre-wrap;
    background-color: rgba(90, 63, 13, 0.3);
    font-family: 'Menlo', monospace;
    margin: 10px;
    color: white;    
}

.redText {
    color: LightPink;
    white-space: nowrap;
}
.greenText {
    color: LightGreen;
    white-space: nowrap;
}
.orangeText {
    color: PaleTurquoise;
    white-space: nowrap;
}
.notChangeText {
    color: black;
    white-space: nowrap;

}

.buttons {
    display: flex;
    flex-direction: column;
    position:fixed;
    bottom: 30px;
    right: 40px;
}
a.botton {
    
    display: inline;
    width: 50px;
    height: 50px;
    align-items: center;
    text-align: center;
    align-content: center;
    text-decoration: none;
    
    /* background-image: url(https://img.icons8.com/material/96/000000/box-important--v1.png); */
    background-image: url(https://img.icons8.com/ios/100/000000/box-important--v1.png);
}
a:hover {

    text-decoration: none;
    
}
.round_btn { 
    
    width: 40px; 
    height: 40px;
    margin: 4px;
    filter: invert(100%);
    align-items: center;
    text-align: center;
    align-content: center;

}
.round_btn:hover { 
    
    width: 40px; 
    height: 40px;
    margin: 4px;
    filter: invert(90%);
}
.button .tip {
    visibility: hidden;
    position: inherit;
    /* bottom: 50px; */
    /* width: 5em; */
    align-items:center;
    text-align: center;
    align-content:center;
    color: white;
    text-decoration: none;

}
.button:hover .tip {
    visibility: visible;
    position: inherit;
    color: white;
    font-size: 1em;
    align-items:center;
    text-align: center;
    align-content:center;
    vertical-align: middle;
    font-family: 'Menlo', monospace;
    
}

